html
	head
		title M.A.M
		link(rel="stylesheet" href="/css/style.css")
		link(rel="shortcut icon" href="/img/favicon-0-white.png" type="image/x-icon")
		script(src="https://kit.fontawesome.com/f3c7bd6f07.js" crossorigin="anonymous")
		//script(src= "loader.js")	
		link(rel="manifest" href="/manifest.json")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
	body
		//- img#svges(src="/img/ilus.svg" type="image/svg+xml" alt="logo")
		.loader
			div
			h1 M.A.M

		header 
			img(src="/img/Logo.png") 
			p Site

			.navDots
				input#check(type="checkbox" name="check")
				label(for="check")
				i.fas.fa-ellipsis-v
				div.navbtn
					label(for="check")
					i.fa-regular.fa-circle-xmark
					label(for="#")  01
					a.button(href="#") DEPT
					label(for="#")  02
					a.button(href="#") OREDERS
					
				
		.centerContent

			.center
				form(action="/add" method="post")
					input(type='text' name='title' placeholder='كلمات')
					input(type='number' name='count' placeholder='أرقام')
					button(type='submit') حفظ
				table
					tr
						th التاريخ
						th السعر
						th ملاحظة
						th الرقم
					each d in data
						tr
							td= d.date
							td= d.count
							td= d.title
							td= d.id
		.addBtn 
			i.fas.fa-plus(aria-hidden="true")
			//- a(href="/add") Add
			//- a(href="/about") About
			//- a(href="/contact") Contact
		script.
			$(window).on('load',function(){
				$('.loader').fadeOut(1000);
				$('.contents').fadeln(1000);
			});
		script.
			if ('serviceWorker' in navigator){
				navigator.serviceWorker.register('/service-worker.js');
			};
