html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title M.A.M
		link(rel="stylesheet" href="/css/style.css")
		link(rel="shortcut icon" href="/img/favicon-0-white.png" type="image/x-icon")
		script(src="https://kit.fontawesome.com/f3c7bd6f07.js" crossorigin="anonymous")
		link(rel="manifest" href="/manifest.json")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
	body
		//- img#svges(src="/img/ilus.svg" type="image/svg+xml" alt="logo")
		.loader
			div
			h1 M.A.M

		header 
			img(src="/img/Logo.png") 
			p Site
			h1.pageHaeder دُيون
			.navDots
				input#check(type="checkbox" name="check")
				label(for="check")
					i.fas.fa-ellipsis-v
				div.navbtn
					label(for="check")
						i.fa-regular.fa-circle-xmark
					label(for="#")  01
						a.button(href="/dept") دُيون
					label(for="#")  02
						a.button(href="/order") طلبات
					label(for="#")  03
						a.button(href="/") الرئيسية		
		.errorbox
			h1 Error
			p.errorMessage هذا الموقع مصمم للأجهزة الهاتف فقط الرجاء فتحه في الهاتف.
		.centerContent
			.center
				table
					tr
						th التاريخ
						th المبلغ
						th الأسم
					each d in data
						tr
							td= d.date
							td= d.count
							td= d.title
							input(type='hidden' name='id' value= d.id)
							td.delete-edit 
								label(for="delete")
									form(action= d.id + "/delete", method="post")  
										button(type="submit") 
											i.fas.fa-trash-alt
								input#edit(type="checkbox", name="edit")
								label(for="edit")
									i.fas.fa-pencil
								.editing
									label(for="edit")
										i.fa-regular.fa-circle-xmark  
									form(action= d.id + "/update", method="post")
										input(type="text" name="title" placeholder="الأسم")
										input(type="number" name="count" placeholder="المبلغ")
										button(type="submit")
											i.fas.fa-pencil  

		.addBtn
			.addBtnWrapper
				input#add(type="checkbox" name="add")
				label.addPlus(for="add") 
					i.fas.fa-plus(aria-hidden="true")
				
				div.addNewData
					label.addXmark(for="add")
						i.fa-regular.fa-circle-xmark
						
					form(action="/add" method="post")
						input(type='text' name='title' placeholder='ألأسم')
						input(type='number' name='count' placeholder='المبلغ')
						button(type='submit') حفظ

		script.
			$(window).on('load',function(){
				$('.loader').fadeOut(1000);
				$('.contents').fadeln(1000);
			});
		script.
			if ('serviceWorker' in navigator){
				navigator.serviceWorker.register('/service-worker.js');
			};
