@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
:root{
	/* Font Family */
	--ff-arabic: 'Aref Ruqaa', serif;
	--ff-english:  'Major Mono Display', monospace;
	/* Colors */
	--clr-primary: #ffcf53;
	--clr-primary-liter: #ffffa8;
	--clr-primary-green: #028b7e;
	/* Neuter */
	--clr-neuter-black: #000;
	--clr-neuter-gray: #595959;
	--clr-neuter-white: #fff;
	/* Font Size */
	--fs-small: 1rem;
	--fs-medium: 1.5;
	--fs-semi-medium: 2rem;
	--fs-big: 3rem;
	/* Box-Shadow */
	--bs-wide: 10px 10px 4px rgba(0, 0, 0, 0.25);
	--bs-blur: 0px -7px 20px rgba(0, 0, 0, 0.25);
	--bs-input: 7px 7px 4px rgba(0, 0, 0, 0.25);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: var(--clr-primary);
}
body #svges{
	width: 800px;
	height: 800px;
	position: absolute;
	left: 30%;
	z-index: -1;
}
.contents{
	display: none;
}
.loader{
	height:100vh;
	width:100vw;
	overflow:hidden;
	background-color: var(--clr-primary);
	position: fixed;
	z-index: 2;
}
.loader h1{
	color: var(--clr-primary-white);
	font-size: 5rem;
	font-family: var(--ff-english);
	text-align: center;
	margin-top: 34% ;
}
.loader>div{
	height:100px;
	width:100px;
	border:15px solid var(--clr-primary-white);
	border-top-color: var(--clr-primary);
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-radius:50%;
	animation:spin 1.5s infinite linear;
}
@keyframes spin{
	100%{
		transform:rotate(360deg);
	}
} 
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 200px;
}
nav img{
	width: 50%;
}
nav p{
	background-color: var(--clr-neuter-black);
	color: var(--clr-neuter-white);
	font-family: var(--ff-english);
	margin: 1rem;
	font-size: 2rem;
	position: absolute;
	top: 100px;
	left: 60%;
}
nav .navDots{
	background-color: var(--clr-primary-liter);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
nav .navDots i{
	width: 80px;
	height: 80px;
}
.centerContent{
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.center{
	height: 100%;
	width: 90vw;
	background-color: var(--clr-primary-liter);
	font-size: var(--fs-semi-medium);
	border-radius: 100px;
	padding: 4rem;
}
.center form{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: var(--fs-semi-medium);
}

.center form input{
	width: 80vw;
	height: 100px;
	border: none;
	font-size: 4rem;
	outline: none;
	border-radius: 50px;
	background-color: white;
	color: black;
	padding: 2rem;
	margin: 1.5rem;
	font-family: var(--ff-arabic);
	text-align: right;
	box-shadow: 4px 4px 5px 0px #000;
}
.center form button{
	width: 80vw;
	height: 100px;
	border: 5px solid var(--clr-primary-white);
	font-size: 3rem;
	outline: none;
	border-radius: 50px;
	font-family: var(--ff-arabic);
	text-align: center;
}
.center form button:hover{
	background-color: green;
	color: var(--clr-primary-white);
	cursor: pointer;
}
table{
	overflow : scroll;
	font-family: var(--ff-arabic);
	font-size: var(--fs-semi-medium);
	text-align: center;
}

table tr td{
	width: 25%;
}
