@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
:root{
	/* Font Family */
	--ff-arabic: 'Aref Ruqaa', serif;
	--ff-english:  'Major Mono Display', monospace;
	/* Colors */
	--clr-primary: #ffcf53;
	--clr-primary-liter: #ffffa8;
	--clr-primary-green: #028b7e;
	--clr-primary-light: rgb(255, 207, 83, 0.60);
	--clr-primary-grediant:  linear-gradient(to right, var(--clr-primary-green), var(--clr-primary-liter));
	/* Neuter */
	--clr-neuter-black: #000;
	--clr-neuter-gray: #595959;
	--clr-neuter-white: #fff;
	/* Font Size */
	--fs-small: 1rem;
	--fs-medium: 1.5;
	--fs-semi-medium: 2rem;
	--fs-big: 3rem;
	/* Box-Shadow */
	--bs-wide: 10px 10px 4px rgba(0, 0, 0, 0.25);
	--bs-blur: 0px -7px 20px rgba(0, 0, 0, 0.25);
	--bs-input: 7px 7px 4px rgba(0, 0, 0, 0.25);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Body */
body{
	background-color: var(--clr-primary);
}
body #svges{
	width: 600px;
	height: 800px;
	object-fit: contain;
	position: absolute;
	left: 40%;
	z-index: -3;
}
/*  END Body */
/* Page Loader */
.loader{
	height:100vh;
	width:100vw;
	overflow:hidden;
	background-color: var(--clr-primary);
	position: fixed;
	z-index: 2;
}
.loader h1{
	color: var(--clr-primary-white);
	font-size: 4rem;
	font-family: var(--ff-english);
	text-align: center;
	margin-top: 34% ;
}
.loader>div{
	height:200px;
	width:200px;
	border: 1rem solid var(--clr-primary-green);
	border-top-color: var(--clr-primary-liter);
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-radius:50%;
	animation:spin 1.5s infinite linear;
}
@keyframes spin{
	100%{
		transform:rotate(360deg);
	}
}
/* END Page Loader */
/* Header */
header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	margin-bottom: 1.5rem;
}
header img{
	width: 50%;
	height: 70%;
}
header p{
	background-color: var(--clr-neuter-black);
	color: var(--clr-neuter-white);
	font-family: var(--ff-english);
	margin: 1rem;
	font-size: 1rem;
	position: absolute;
	top: 40px;
	left: 35%;
}
header .pageHaeder{
	font-size: 2rem;
	font-family: var(--ff-arabic);
	color: var(--clr-primary-green);
}
header .navDots{
	background-color: var(--clr-primary-liter);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
header .navDots .navbtn label .button {
	padding: 10px 30px;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--clr-black);
	border-bottom: 2px solid var(--clr-black);
	
	transition: all 1s;
}
header .navDots .navbtn label .button:hover {
	background: rgba(0, 0, 0, 0.262);
	color: var(--clr-black);
}

header .navDots .navbtn label a.button {
	text-decoration: none;
}
header .navDots label .fa-ellipsis-v{
	font-size: 2rem;
	padding: 1rem;
}
header .navDots .navbtn label .fa-circle-xmark{
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 2rem;
}
header .navDots .navbtn label .fa-circle-xmark:hover{
	color: red;
}
#check{
	display: none;
}
#check:checked ~ .navbtn{
	top: 100px;
}
header .navDots .navbtn {
	width: 50vw;
	height: 25vh;
	background-color: rgb(255, 255, 168, 0.67);
	font-family: var(--ff-arabic);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: right;
	position: absolute;
	top: -1000px;
	right: 30px;
	z-index: 3;
	border-radius: 30px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	transition: all 550ms ease;
}
header .navDots .navbtn label{
	font-size: 1.5rem;
	font-weight: 500;
	padding-top: 1rem;
	padding-left: 2rem;
	transition: all 1s;
}
/* END Header */ 
/* Main */
.centerContent{
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.centerContent .center{
	height: 100vh;
	width: 90vw;
	font-size: var(--fs-semi-medium);
	border-radius: 100px;
}
.centerContent .center table{
	border-radius: 50px;
	padding: 1rem;
	width: 90vw;
	/* height: 100%; */
	background-color: var(--clr-primary-liter);
	overflow : scroll;
	font-family: var(--ff-arabic);
	font-size: var(--fs-small);
	text-align: center;
}
.centerContent .center table tr td{
	padding: .5rem;
	width: 25%;
	background-color: var(--clr-primary-green);
	gap: 0;
	border-radius: 20px;
	color: var(--clr-neuter-white);
}
.centerContent .center table tr .delete-edit{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.centerContent .center table tr .delete-edit .editing{
	width: 100vw;
	height: 50vh;
	position: fixed;
	left: -10000px;
	top: 0px;
	background-color: var(--clr-primary-light);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
#edit{
	display: none;
}
#edit:checked ~ .editing{
	left: 0px;
}
.centerContent .center table tr .delete-edit .editing label .fa-circle-xmark{
	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 2rem;
}
.centerContent .center table tr .delete-edit .editing label .fa-circle-xmark:active{
	color: red;
}
.centerContent .center table tr .delete-edit .editing form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.centerContent .center table tr .delete-edit .editing form input{
	width: 80vw;
	height: 10%;
	border: none;
	font-size: 1rem;
	outline: none;
	border-radius: 50px;
	background-color: white;
	color: black;
	padding: 1rem;
	margin: 1.5rem;
	font-family: var(--ff-arabic);
	text-align: right;
	box-shadow: var(--bs-input);
}
.centerContent .center table tr .delete-edit .editing form button{
	width: 80vw;
	height: 10%;
	border: 5px solid var(--clr-primary-white);
	font-size: 1rem;
	outline: none;
	border-radius: 50px;
	font-family: var(--ff-arabic);
	text-align: center;
	padding: 1rem;
	box-shadow: var(--bs-input);
}
.centerContent .center table tr .delete-edit .editing form button:hover{
	background-color: green;
	color: var(--clr-primary-white);
	cursor: pointer;
}
.centerContent .center table tr .delete-edit label form button{
	background: none;
	font-size: 2rem;
	color: var(--clr-neuter-white);
	border: none;
	outline: none;
	padding: 1rem;
}
.centerContent .center table tr .delete-edit label form button:active{
	color: red;
}
.centerContent .center table tr .delete-edit label .fa-pencil{
	font-size: 2rem;
	padding: 1rem;
}
.centerContent .center table tr .delete-edit label .fa-pencil:active{
	color: var(--clr-primary);
}
.addBtn .addBtnWrapper .addPlus{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	border-radius: 100px;
	background-color: var(--clr-primary-green);
	position: fixed;
	top: 85%;
	left: 75%;
	box-shadow:  -10px 7px 4px rgba(0, 0, 0, 0.25);
}
.addBtn .addBtnWrapper .addPlus .fa-plus{
	color: var(--clr-primary);
	font-size: 3rem;
}
.addBtn .addNewData{
	width: 100vw;
	height: 50vh;
	position: fixed;
	bottom: 0px;
	left: -50000px; 
	background-color: var(--clr-primary-light);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	transition: all 400ms ease-in-out;
	z-index: 5;
}
.addBtn .addNewData form{
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: var(--fs-semi-medium);
}
.addBtn .addBtnWrapper .addNewData form input{
	width: 80vw;
	height: 10%;
	border: none;
	font-size: 1rem;
	outline: none;
	border-radius: 50px;
	background-color: white;
	color: black;
	padding: 1.5rem;
	margin: 1.5rem;
	font-family: var(--ff-arabic);
	text-align: right;
	box-shadow: var(--bs-input);
}
.addBtn .addBtnWrapper .addNewData form button{
	width: 80vw;
	height: 15%;
	border: 5px solid var(--clr-primary-white);
	font-size: 1rem;
	outline: none;
	border-radius: 50px;
	font-family: var(--ff-arabic);
	text-align: center;
	padding-bottom: 1rem;
	box-shadow: var(--bs-input);
}
.addBtn .addBtnWrapper.addNewData form button:hover{
	background-color: green;
	color: var(--clr-primary-white);
	cursor: pointer;
}
.addBtn .addBtnWrapper .addNewData .addXmark i{
	font-size: 1.5rem;
	position: fixed;
	top: 20px;
	left: 20px;
}
#add{
	display: none;
}
#add:checked ~ .addNewData{
	left: 0px;
}
.errorbox{
	display:none;
}
/* END Main */
/* Error Message */
@media screen and (min-width:480px) {
	.centerContent, header, .addBtn{
		display: none;
	}
	.errorbox{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background-color: var(--clr-primary-light);
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		transition: all 400ms ease-in-out;
		z-index: 5;
		padding: 3rem;
	}
	.errorbox h1{
		font-family: var(--ff-english);
		font-size: var(--fs-big);
		color: var(--clr-primary-green);
	}
	.errorbox p{
		text-align: right;
		font-family: var(--ff-arabic);
		font-size: 2rem;
		color: var(--clr-primary-white);
	}
	.errorbox::after{
		content: 'This Websit built For Mobile View Only';
		color: red;
		font-size: 2rem;
		font-family: var(--ff-english);
	}
}
